.container {
padding-top: 40px;
   text-align: center;;
}
.btn button {
    font-size: 25px;
    
}
.buttonRecord {
    border-radius: 50%;
    padding: 30px 5px;
    background-color: #ff0000;
}
.buttonStop {
    border-radius: 5px; 
    padding: 30px 20px;   
}

.audio {
    min-width: 50%;
    padding-top: 25px;
}